
.wish-amount {
    display: grid;
    text-align: center;
    line-height: 2;
}

.wish-amount #wish-amount {
    font-size: 48px;
    font-weight: bolder;
}

.wish-amount #wish-amount.geq {
    color: #ffc400;
}

.wish-amount .text {
    font-size: 18px;
}

small {
    color: #aaa;
}